<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>pokedex </title>
</head>
<body>
<table>
    <tr>

        <th>name</th>
        <th>type</th>
        <th>hp</th>
        <th>attack</th>
        <th>defense</th>
        <th>speed</th>
        <th>image</th>
    </tr>
    {% for pokemon in pokemons %}
    <tr>
        <td>{{pokemon.name}}</td>
        <td>{{pokemon.type}}</td>
        <td>{{pokemon.hp}}</td>
        <td>{{pokemon.attack}}</td>
        <td>{{pokemon.defense}}</td>
        <td>{{pokemon.speed}}</td>
        
        <td><img src="{{ pokemon.image }}" alt="pokemon image"></td>
    </tr>
    {% endfor %}

</body>
</html>