<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>pokedex </title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>type de base</th>
        <th>type secondaire</th>
        <th>hp</th>
        <th>attack</th>
        <th>defense</th>
        <th>speed</th>
        <th>image</th>
        <th>image shiny</th>
    </tr>
    {% for pokemon in pokemons %}
        <tr>
            <td>{{ pokemon.id }}</td>
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.type_pokemon1}} <img src="{{ pokemon.type_pokemon1_assests }}"></td>
            <td>{{pokemon.type_pokemon2}}<img src="{{ pokemon.type_pokemon2_assests }}"></td>
            <td>{{pokemon.hp}}</td>
            <td>{{pokemon.attack}}</td>
            <td>{{pokemon.defense}}</td>
            <td>{{pokemon.speed}}</td>
            <td><img src="{{ pokemon.image }}" alt="pokemon image"></td>
            <td><img src="{{ pokemon.image_shiny }}" alt="pokemon image shiny"></td>
        </tr>
    {% endfor %}

</body>
</html>