:root{
    --main-bg-color: #fff0fA;
    --card-size:150px;
}
img {
    width: var(--card-size);
    height: var(--card-size);
}

body{
    background-color:var(--main-bg-color);
}

.type{
    background: fuchsia;
}